@page "{Id?}"
@using FirstShop.Core.ViewModels.Products
@using FirstShop.Core.ViewModels.Users
@model FirstShop.Pages.AdminPanel.Product.ApproveCommentModel

@{
    var user = ViewData["UserList"] as UserListViewModel;
    var comment = ViewData["comment"] as ProductCommentViewModel;
}
<div class="container">
    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="~/Images/avatar/@user.Avatar" alt="user image">
                        <span class="username">
                          <a href="#">@user.FirstName @user.LastName</a>
                          @*<a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>*@
                        </span>
                        @*<span class="description">@Model.</span>*@
                      </div>
                      <!-- /.user-block -->
                      <p>
                        @comment.Title
                      </p>
                      <form method="post" enctype="multipart/form-data" asp-page-handler="AddProduct">
                      <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                          <label for="customCheckbox1" class="custom-control-label" asp-for="@comment.IsApproved">Approve</label>
                          <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                        </form>
                      @*<p>
                        <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                        <span class="float-right">
                          <a href="#" class="link-black text-sm">
                            <i class="far fa-comments mr-1"></i> Comments (5)
                          </a>
                        </span>
                      </p>*@

                      @*<input class="form-control form-control-sm" type="text" placeholder="Type a comment">*@
                    </div>
                    </div>